* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: monospace;
}

.nav,
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  color: #fff;
  z-index: 10;
}

.nav {
  top: 0;
}

.footer {
  bottom: 0;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  will-change: transform;
  overflow: hidden;
}

.slide .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slide-1 {
  transform: scale(1);
}

#slide-2 {
  transform: scale(0.1);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
