@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Rationale", sans-serif;
  /* font-family: "Anaheim", sans-serif; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}

.hero,
.footer {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1,
.footer h1 {
  font-size: 80px;
}

.hero {
  background-color: #ec4747;
}

.footer {
  background-color: #884ef1;
}

.services {
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.services-header {
  width: 100%;
  display: flex;
  gap: 4em;
}

.services-header .col:nth-child(1) {
  flex: 2;
}

.services-header .col:nth-child(2) {
  flex: 5;
  padding: 1em;
}

.service {
  display: flex;
  gap: 2em;
  height: 150px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.service-info {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.service-img {
  flex: 5;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.img {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
