@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Rationale", sans-serif;
  /* font-family: "Anaheim", sans-serif; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}

.hero,
.footer {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1,
.footer h1 {
  font-size: 80px;
}

.hero {
  background-color: #ec4747;
}

.footer {
  background-color: #884ef1;
}
