* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000;
}

p {
  font-size: 50px;
  max-width: 1280px;
  padding: 40px;
  color: #fff;
}
