@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  font-family: "Geo", sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  width: 90%;
  height: 100svh;
  margin: 8em auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.gallery h1 {
  font-size: 3rem;
}

.gallery-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  height: 300px;
  width: 200px;
  border: 1px solid rgba(128, 128, 128, 0.555);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.gallery-item .img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.revealer {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4em;
}

.revealer .img {
  height: 650px;
  width: 500px;
  overflow: hidden;
}

.revealer .close {
  cursor: pointer;
}
