* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100svh;
  background-image: url(./images/img4.png);
  background-position: center;
  background-size: cover;
}

.nav {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  background-color: #343638;
  padding: 1em 1em;
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}

.btns {
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.btn {
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  text-align: center;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
}

#btn-1 {
  background-color: #1a1d1c;
  display: flex;
  gap: 10px;
  border: none;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.navs {
  padding: 1em 3em;
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.nav-part {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
}

.nav-part ul {
  display: flex;
  justify-content: space-between;
}

.nav-parts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-parts .part-1,
.nav-parts .part-2,
.nav-parts .part-3,
.nav-parts .part-4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5em;
  color: white;
  border-left: 1px dotted white;
}
