* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #131313;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.side {
  flex: 1;
}

.left-side {
  position: relative;
  width: 100%;
  height: 100svh;
}
.left-side .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
}
.left-side p {
  position: relative;
  left: 5%;
  top: 5%;
  z-index: 1;
  color: #fff;
  font-size: 3rem;
  opacity: 0.8;
}

.right-side {
  padding: 8em 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right-side .images {
  display: flex;
  gap: 1em;
  opacity: 0;
}

.right-side .images .img {
  width: 190px;
  height: 220px;
  overflow: hidden;
}
.right-side h1 {
  font-size: 6rem;
  color: #fff;
  opacity: 0.5;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
