* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: monospace;
  background-color: #000;
}

p {
  font-size: 50px;
  max-width: 1280px;
  padding: 40px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;

  .word {
    margin-right: 12px;
    margin-top: 12px;
  }
}
