* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100svh;
  background-color: #0f0f0f;
  font-family: monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  z-index: 10;
}

h1 {
  font-size: 3rem;
}

button {
  padding: 1em 2em;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 20px;
}

.gallery {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0;
}

.item {
  width: 100%;
  height: 100%;
  will-change: transform;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
