* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
}

nav,
footer {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-wrapper {
  width: max-content;
  height: 100%;
  padding: 0 150px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.slide {
  width: 500px;
  height: 500px;
  background-color: gray;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
