* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  height: 100svh;
  width: 100%;
  background-color: white;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  mix-blend-mode: difference;
  z-index: 1;
  .burger {
    position: relative;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 30px;
    pointer-events: none;
    &::before,
    &::after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      mix-blend-mode: difference;
      background-color: white;
    }
  }
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
}
